body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
  display: grid;
  place-items: center;
  font-family: 'Roboto'
}

.content {
  width: 400px;
  height: 400px;
  color: #111;
  background-color: white;
  border: 2px solid grey;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}

.color-circle-wrapper {
  flex: 1;
  display: grid;
  place-items: center;
}

.color-circle {
  border: 4px solid #111;
  align-items: center;
  width: 75%;
  padding-bottom: 75%;
  border-radius: 100%;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 16px 16px inset, rgba(0, 0, 0, 0.4) 0px -16px 16px inset;
  transition: 0.2s all;
  cursor: pointer;
}

.color-circle:active {
  box-shadow: rgba(0,0,0, 0.2) 0px 16px 16px inset
}

.score-circle {
  width: 2em;
  height: 2em;
  border-radius: 100%;
  border: 2px solid #111;
}

.scoreboard {
  position: absolute;
  top: 1em;
  left: 1em;
  color: #111;
  background-color: white;
  border: 2px solid grey;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ol {
  margin: 0px;
  padding: 0px;
}

.scoreboard li {
  display: flex;
  align-items: center;
  gap: 1em;
}