body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
  display: grid;
  place-items: center;
  font-family: 'Roboto'
}

.content {
  width: 400px;
  height: 400px;
  color: #111;
  background-color: white;
  border: 2px solid grey;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}

.content h1 {
  font-size: 48px;
  font-weight: bold;
  padding: 0.25em;;
}

.color-circle-wrapper {
  flex: 1;
  display: grid;
  place-items: center;
}

.color-circle {
  border: 4px solid #111;
  align-items: center;
  width: 75%;
  padding-bottom: 75%;
  border-radius: 100%;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 16px 16px inset, rgba(0, 0, 0, 0.4) 0px -16px 16px inset;
  transition: 0.2s all;
  cursor: pointer;
}

.color-circle:active {
  box-shadow: rgba(0,0,0, 0.2) 0px 16px 16px inset
}

.content input {
  background-color: rgba(17, 17, 17, 0.1);
  color:#111;
  padding: 0.5em;
  border-radius: 1em;
  border: 2px solid grey;
  font-size: 18px;
}

.scoreboard {
  position: absolute;
  top: 1em;
  left: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em 1em;
  color: #111;
  background-color: white;
  border: 2px solid grey;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.scoreboard h2 {
  font-size: 24px;
  font-weight: bold;
}

.scoreboard .user-list {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 0.25em;
  column-gap: 1em;
}

.scoreboard .user-id {
  align-self: center;
  font-size: 16px;
}

.score-circle {
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  border: 1px solid #111;
}
